#custom-pricing-css-0109 {
    width: 800px;
    height: 400px;
    border: none;
    overflow: hidden;
}

@media (max-width: 800px) {
    #custom-pricing-css-0109 {
        width: 100%;
        height: 700px;
    }
}